span {
    font-weight: 400;
}

h2 {
    font-weight: 800;
}

p {
    margin: 0;
    padding: 0;
    font-weight: 600;
}


.btn-sobre {
    border: none;
    outline: none;
    background-color: #ba9970;
    padding: 15px;
    color: #fff;
    border-radius: 8px;
    transition: 0.4s;
}

.btn-sobre:hover {
    background-color: #a38265;
}

.animated {
    transition: opacity 500ms ease-out, transform 500ms ease-out;
}

@media (max-width: 796px) { 
    .d-flex{
        flex-direction: column !important;
        justify-content: start;
    }

    .btn-sobre {
        padding: 15px 25px;
        width: 100%;
        margin: 20px 0 40px 0;
        color: #fff;
    }

    .sobre {
        margin: 0 auto;
        width: 100%;
    }

    .image-sobre {
        width: 100% !important;
    }
}