.footer {
    color: #fff;
    background-color: #a38265;
}

.whatsapp-link {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    z-index: 1000; 
    font-size: 60px;
    padding: 12px;
    border-radius: 50%;
    color: #fff;
    background-color: #25D366;
    cursor: pointer;
    transition: 0.4s;
  }

  .whatsapp-link:hover {
    background-color: #128c7e;
  }
  